body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: whitesmoke;
}

.epicode_logo_timer{
    padding: 0 10%;
}

.logo {
    display: inline-block;
    width: 20%;
    border: 1px solid white;
    
}
.logo img {
    width: 100%;
}

.question_area {
    padding: 0 15%;
    text-align: center;
}

.question_text {
    font-size: 5.5em;
    width: 80%;
    margin: 8vh auto;
    font-family: 'Outfit', sans-serif;
}

form button {
    width: 40%;
    background-color: #262951;
    padding: 2vh 0;
    text-align: center;
    font-size: 2.8em;
    margin: 1.5vh 2%;
    border-radius: 55px;
    border: 3px outset ;
    color: whitesmoke;
}
form button:hover {
    border: 3px outset rgba(144,0,128,1);
    background: rgb(131,21,21);
    background: linear-gradient(180deg, rgba(131,21,21,1) 0%, rgba(144,0,128,1) 100%); 
}

.numerazione_pagina {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10vh;
}

.numerazione_pagina h3 {
    margin-top: 15vh;
    font-size: 4em;
    font-family: 'Outfit', sans-serif;
}

.totale_pagina {
    color: #93137f;
}

.correct {
    background-color: green;
}

.false {
    background-color: red;
}

.nextQuestion {
    width: 30%;
    background-color: blue;
}
.circle-container {
    position: relative;
    width: 200px;
    height: 200px;
}
.circle {
    fill: none;
    stroke: #00ffff;
    stroke-width: 20;
    stroke-linecap: round;
    display: inline-block;
}
.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4em;
}